* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: auto;
    width: 21cm;
    height: 29.7cm;
}
ul {
	list-style: none;
}
a{
	text-decoration: none;
	color: #D4F7EC;
	padding: 6px;
	border: #D4F7EC 2px solid;
	border-radius: 40%
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
.App{
    margin: auto;
	width: 50vw;
    max-width: 21cm;
	min-width: 770px;
    height: 29.7cm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#D4F7EC;
	font-family: 'Cairo', sans-serif;
	font-weight: 900;
	line-height: 20px;
}
.Header{
width: 100%;
height: calc(20% - 2vh);
background-color: #355D6C ;
border-radius: 0 0 20px 20px;
color: #D4F7EC;
display: flex;
text-align: center;
}
.Sidebar{
width: calc(35% - 1vh);
height: calc(75% - 23px);
background-color:#0C1324;
border-radius: 20px 40px 40px 20px;
color: #537B36;
padding-top: 23px;
}
.MainContext{
height: 75%;
width: 65%;
background-color: #347B98;
border-radius: 40px 20px 20px 40px;
color: #537B36;
background-image: url("./img/background-g8629c47f4_1920.jpg");
}
.EmptySpace{
	width: 100%;
	height: 1vh;
}
.Footer{
	height: 5%;
	width: 100%;
	font-size: 12px;
	background-color:#355D6C ;
	color:#0C1324 ;
	border-radius: 20px 20px 0 0;
	line-height: 12px;
}
.footerText{
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}
.WorkExp{
	width: 80%;
	background-color: #D4F7EC ;
	margin:  5% auto;
	border-radius: 40px;
}
span{
	font-weight:1100;
	color:#0C1324 ;
}
.Element{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.elementHeader{
	padding: 15px 0;
	text-align: center;
	font-size: 30px;
}
.date{
 width: 300px;
}
.jobDescryption{
	width:700px
}
.contactImg , .skillImg{
	width: 30px;
	height: 30px;
	margin-top: auto;
	margin-bottom: auto;
	background-color:#355D6C ;
	padding: 2px;
	border-radius: 40%;
}
.skillsLi{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30px;
	width: 80%;
	margin: 0 auto;
}
.conactLi{
	padding: 10px;
	justify-content: space-between;
	line-height: 30px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.about , .Education{
	padding: 15px;
}
.fullBar , .emptyBar{
	width: 10px;
	height: 10px;
	border: 2px solid;
	border-radius: 50%;
	margin: auto 0;
}
.fullBar{
	background-color:#355D6C;
}
.skillBarUl{
	display: flex;
}
.skilNameAndSkillBarContener{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.facePhoto{
	width: 190px;
	height: 190px;
	border-radius: 30px 60px;
	margin: auto;
}
.name{
	margin: auto;
	font-weight: 900;
	font-size: 70px;
}
.skills {
	background-color: #D4F7EC ;
	border-radius: 40px;
	margin: 20px 10%;
}
.namePortfolioContener{
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}
